body {
  background-color: aliceblue;
}
h2 {
  text-align: center;
}
a {
  display: flex;
  background-color: aliceblue;
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0.3rem 0.3rem 0.6rem -0.1rem rgba(0, 0, 0, 15),
    -0.3rem -0.3rem 0.6rem -0.1rem rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
}
a:hover {
  box-shadow: inset 0.1rem 0.1rem 0.6rem -0.1rem rgba(0, 0, 0, 15),
    inset -0.1rem -0.1rem 0.6rem -0.1rem rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  transform: translateY(2px);
  transform: scale(0.95);
}
#twitter:hover {
  color: #55acee;
}
#linkedIn:hover {
  color: #0e76a8;
}
#gitHub:hover {
  color: #211f1f;
}
#intagram:hover {
  color: #4c68d7;
}
#whatsApp:hover {
  color: #25d366;
}

#work {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.sc {
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 2rem;
  color: #777777;
  transition: transform 0.5s;
}
